<main>
  <ul class="nav navbar-nav navbar-right">
    <!-- Log out shows when logged in. Log in shows when not logged in -->
    <% if user_signed_in? %>
      <li><%= link_to "Log Out", destroy_user_session_path, method: :delete %></li>
    <% else %>
      <li><%= link_to "Sign Up", new_user_registration_path %></li>
      <li><%= link_to "Log In", new_user_session_path %></li>
    <% end %>
  </ul>

  <h1>Location Search</h1>
  <!-- devise flash messages -->
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <!-- Button to search coordinates -->
  <%= form_tag(locations_path, method: :get) do %>
    <%= text_field_tag(:q) %>
    <%= submit_tag("geocode") %>
  <% end %><br>

  <h2>Coordinates:</h2>
  <%= @coordinates %>
</main>

