<main>
  <h1>Location Search</h1>
  <!-- devise flash messages -->
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <!-- Button to search coordinates -->
  <%= form_tag(search_locations_path, method: :get) do %>
    <%= @message %>
    <%= text_field_tag(:q) %>
    <%= submit_tag("geocode") %>  
  <% end %><br>

  <%= @coordinates %>
</main>

